.Dictionary section{
    background-color: #e0cec0;
    padding: 10px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0,0.1);

}
.Dictionary input{
    width: 100%;
    border:1px solid #c55c71; 
    margin-bottom: 5px;
}
.Dictionary .Searchinput{
   padding: 4px;
}
.logo{
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
}
.btn-color{
    background-color: #c55c71;
    font-weight: bold;
    border: 1px solid #5e0315;
    color: #5e0315;
}
.btn-color:hover{
    background-color: rgb(245, 223, 223);
    color: #c55c71;
    border:1px solid #c55c71;
}
.title{
    font-family: 'Courgette', cursive;
    font-weight: bold;
}